<!DOCTYPE html>
<html>
  <head>

    <title><%= content_for?(:title) ? yield(:title) : "GoTrackingTech | 2016" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Go Tracking Technologies" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>


       <%= yield %>
    
    
    
 
</html>
